body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 5% 0 5%;
}
#header {
  text-align: center;
  padding: 0.5em;
}
.imgs {
  display: flex;
  justify-content: space-evenly;
}
.img img {
  width: 200px;
  height: 100px;
}
.content {
  margin-top: 3%;
}
#blog {
  float: left;
  padding: 10px;
}
#viewb {
  margin-top: 3%;
  float: right;
  padding: 10px;
}
#viewb button {
  background-color: #c2a91f;
  border: none;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  font-size: 15px;
}
.postcontent {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: space-evenly;
*/
}
.posts {
  margin-left: 0;
  width: 350px;
  height: initial;
}

.postshead h3 {
  float: left;
  padding: 0;
  color: #dac340;
}
.icons {
  float: right;
}
 .icons ul {
  display: inline-flex;
  list-style-type: none;
}
 .icons ul li {
  padding: 8px 5px 0 5px;
}
.para {
  float: left;
  margin: 0;
}
.para p {
  font-size: 2.5vh;
}
.postcontent .posts img{
  min-width: 350px;
  min-height: 200px;
}
